// Default styles

a{
    color: #fff;

    &:hover{
        text-decoration: none;
    }
}
ul{
    margin: 0;
    padding: 0;
}
li{
    list-style-type: none;
}
body{
    font-family: 'HelveticaNeueCyr Thin';
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-position: 97% bottom;
}
p{
    margin: 0;
}




//
//
// HEADER
//
//

header{
    padding: 50px 0 133px 0;

    background: url(../img/deadpool.jpg) no-repeat center 600px;
    transition: background 2s;
    transition-delay: .5s;

    // LEFT SIDE

    .main-text{
        font-family: BebasNeueRegular;
    }
    
    .name{
        font-size: 100px;
        line-height: 60pt;
        font-weight: normal;
    }

    .name-info{
        padding-bottom: 0;
        margin-bottom: 0;

        font-size: 40px;
        line-height: 36pt;
    }

    // RIGHT SIDE

    .right-side{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 165px;
    }

    .logo-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .logo{
        width: 70px;
        height: 70px;
    }

    .logo-name{
        margin-bottom: 26px;

        font-size: 40px;
        line-height: 42pt;
    }

    .main-nav{
        width: 100%;

        a{
            display: block;
            width: 100%;
            margin-top: 4px;

            text-align: center;
            background-color: $secondary;

            &:hover{
                color: $primary;
                background-color: #fff;
            }
        }
    }

    // NAVIGATION

    .full-screen-field{
        position: fixed;
        top: 0;
        left: 0;
        display: none;
        justify-content: center;
        align-items: center;
        z-index: 100;
        width: 3000px;
        height: 3000px;

        .nav-deadpoll{
            position: absolute;
            top: -500px;
            left: -50px;
            transform: rotate(180deg);
        }
    }
    .full-screen-circle{
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background-color: $secondary;
    }

    .nav-min-menu{
        display: none;
        margin-top: 310px;

        li{
            opacity: 0;
            font-weight: 100;
            display: block;
            font-size: 24px;
            text-align: center;
            color: #ffffff;
            margin-top: 10px;

            &:first-child{
                margin-top: 0;
            }

            a{
                color: #ffffff;

                &:hover{
                    color: yellow;
                }
            }
        }
    }

    .toggle-menu-button{
        position: relative;
        z-index: 300;
        display: none;
        width: 63px;
        height: 60px;
        background-size: cover;
        align-items: center;
        justify-content: center;
        
        &:hover{
            background-position: right 0;
        }
    }
    // END NAVIGATION

}

@include media-breakpoint-down(sm) {
    header{
        background-position: -80px 600px;
        background-size: 100%;
    }
}
@include media-breakpoint-down(xs) {
    header{
        background-position: center 600px;

        .right-side{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            width: 100%;
            margin-bottom: 30px;
        }
        .main-nav{
            width: 165px;
        }
        .name{
            font-size: 95px;
        }
    }
}
@media(max-width: 414px){
    header .main-nav{
        display: none;
    }
    header .toggle-menu-button{
        display: flex;
    }
    header{
        .toggle-menu-button{
            width: 43px;
            height: 40px;
            background-size: cover;
            align-items: center;
            justify-content: center;
            
            &:hover{
                background-position: right 0;
            }
        }
    }
}
@media(max-width: 330px){
    header{
        padding-bottom: 80px;
    }
}




//
//
// .ARTICLE (not <article> because it`s only one on page and without true structure)
//
//

.article{
    max-width: 780px;
    margin: 0 auto;
    padding: 0 15px;

    font-size: 18px;
    letter-spacing: -5;


    .article__section{
        display: inline-block;
        width: 100%;
    }


    // film description

    .poster-line{
        display: inline-block;
    }

    .poster-line__img{
        margin-right: 30px;
        float: left;

        transition: transform .5s;

        &:hover{
            transition: transform .5s;
            transform: translateY(-30px);
        }
    }

    .poster-line__text{
        max-width: 671px;
        margin-top: 20px;
        padding: 0 15px;

        line-height: 22px;
    }


    // reviews

    .reviews-line{
        display: flex;
        align-items: center;
        padding: 40px 15px;
    }

    .reviews-line__section{
        position: relative;
        width: 25%;
        margin-right: 30px;
        line-height: 20px;

        float: left;

        &:last-child{
            margin-right: 0;
        }
        &:first-child{
            font-size: 24px;
        }

        p{
            position: relative;
            z-index: 5;
        }
    
        .rating{
            z-index: 1;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
        }
    }


    .video-container{
        position: relative;

        display: flex;
        justify-content: center;
        align-items: center;

        video{
            width: 100%;
        }

        .play-button{
            position: absolute;

            width: 100px;
            height: 100px;

            border: none;
            background-color: transparent;
            background-image: url('../img/button_play.svg');

            transition: transform .5s;

            &:hover{
                transition: transform .5s;
                transform: rotate(360deg);
            }
        }
    }

    .carousel{
        padding: 70px 0;
    }

}

@media(max-width: 670px){
    .article .reviews-line{
        flex-direction: column;
    }
    .article .reviews-line__section{
        width: 100%;
        float: none;
        padding: 0 50px;
        margin-right: 0;
        margin-top: 10px;

        &:first-child{
            margin-bottom: 10px;
        }
    }
}

@media(max-width: 420px){
    .article .poster-line__img{
        float: none;
        display: block;
        margin: 0 auto;
    }
}




//
//
// .SLIDER
//
//

.slider {
    position: relative;
    //max-width: 585px;
    width: 100%;
    margin: 0 auto;
    padding: 70px 80px;
}

.slider__hidder{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 100;
}

.slider__wrapper {
    display: flex;
    transition: transform 0.6s ease;
}

.slider__item {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    display: flex;
    justify-content: center;
}

.slider__control{
    position: absolute;
    top: 150px;
}

.slider__control_left {
    position: absolute;
    left: 30px;
}

.slider__control_right {
    position: absolute;
    right: 30px;
}

.slider__control::before {
    content: '';
    display: inline-block;
    width: 35px;
    height: 35px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
}

.slider__control_left::before {
    background-image: url("../img/slider_arrows.svg");
    background-size: 200%;
    background-position: -35px 0;
}

.slider__control_right::before {
    background-image: url("../img/slider_arrows.svg");
    background-size: 200%;
    background-position: 0 0;
}

.slider__item > .img_container {
    width: 165px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.slider .img-hover{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    width: 165px;
    height: 184px;
    opacity: 0;
    transition: all .9s;
    background-color: rgba(86, 58, 58, 0);
    cursor: pointer;

    &:hover{
        transition: all .3s;
        background-color: rgba(86, 58, 58, .5);
        opacity: 1;
    }
}
.slider .slider-icon-zoom{
    width: 60px;
    height: 60px;
}
@media(max-width: 780px){
    .slider__item {
        flex: 0 0 50%;
        max-width: 50%;
    }
}
@media(max-width: 550px){
    .slider__item {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.slider-img-popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;

    display: none;
    justify-content: center;
    align-items: center;

    opacity: 0;

    .bg{
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: $secondary;
        opacity: .9;
        z-index: 101;
        cursor: pointer;
    }

    img{
        z-index: 102;
        width: 40%;
        min-width: 300px
    }
}




//
//
// FOOTER
//
//

footer{
    max-width: 780px;
    margin: 0 auto;
    padding: 23px 15px;

    text-align: right;
    letter-spacing: -5;
    font-size: 14px;

    .copyrite{
        display: inline-block;
    }

    .footer-link{
        margin-right: 18px;

        &:hover{
            color: $secondary;
        }
    }
}

@media(max-width: 420px){
    footer .copyrite, footer .footer-link{
        display: block;
        margin-right: 0;
    }
}